<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.EmployeeMapper">
        <select id="getEmployees" resultType="Employee">
                SELECT
                e.USER_NO AS userNo,
                e.BUSINESS_NAME AS businessName,
                e.POSITION_NAME AS position,
                e.USER_NAME AS name,
                e.USER_ID AS userId,
                e.EMAIL AS email,
                e.PHONE AS phone,
                e.GENDER AS gender,
                e.CREATE_DATE AS enrollDate
                FROM (
                SELECT
                e.USER_NO AS userNo,
                e.BUSINESS_NAME AS businessName,
                e.POSITION_NAME AS position,
                e.USER_NAME AS name,
                e.USER_ID AS userId,
                e.EMAIL AS email,
                e.PHONE AS phone,
                e.GENDER AS gender,
                e.CREATE_DATE AS enrollDate,
                ROW_NUMBER() OVER (ORDER BY e.CREATE_DATE) AS rownum
                FROM MEMBER e
                WHERE
                e.BUSINESS_NAME LIKE CONCAT('%', #{business}, '%')
                AND e.POSITION_NAME LIKE CONCAT('%', #{position}, '%')
                AND e.CREATE_DATE LIKE CONCAT('%', #{enrollDate}, '%')
                ) e
                WHERE e.rownum BETWEEN #{offset} AND #{offset + size - 1}
        </select>

        <select id="countEmployees" resultType="int">
            SELECT COUNT(*)
            FROM MEMBER e
            WHERE
            e.BUSINESS_NAME LIKE CONCAT('%', #{business}, '%') AND
            e.POSITION_NAME LIKE CONCAT('%', #{position}, '%') AND
            e.CREATE_DATE LIKE CONCAT('%', #{enrollDate}, '%')
    </select>
    </mapper>
