<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.boot.mappers.MemberMapper">
    <resultMap id="memberResult" type="Member">
        <result column="USER_ID" property="userId"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="BUSINESS_NAME" property="business"/>
        <result column="POSITION_NAME" property="position"/>
        <result column="MANAGER_NAME" property="managerName"/>
        <result column="SALARY" property="salary"/>
        <result column="BONUS" property="bonus"/>
        <result column="EMAIL" property="email"/>
        <result column="PHONE" property="phone"/>
        <result column="GENDER" property="gender"/>
        <result column="ADDRESS" property="address"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <select id="loginMember" parameterType="Member" resultMap="memberResult">
        SELECT USER_NO,
                BUSINESS_NAME,
                POSITION_NAME,
                MANAGER_NAME,
                USER_NAME,
                USER_ID,
                USER_PWD,
                EMAIL,
                SALARY,
                BONUS,
                PHONE,
                GENDER,
                ADDRESS,
                ENROLL_DATE AS CREATE_DATE,
                IMAGE_CHANGEPATH,
                IMAGE_ORIGINPATH,
                BIRTHDAY,
                STATUS
         FROM MEMBER
        WHERE USER_ID = #{userId}
          AND STATUS = 'Y'
    </select>
    <insert id="insertMember">
        INSERT
        INTO MEMBER(
            USER_ID,
            USER_PWD,
            USER_NAME,
            EMAIL,
            GENDER,
            AGE,
            PHONE,
            ADDRESS
        ) VALUES(
            #{userId},
            #{userPwd},
            #{userName},
            #{email},
            #{gender},
            #{age},
            #{phone},
            #{address}
        )
    </insert>
    <select id="idCheck" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USER_ID = #{userId}
    </select>
    <select id="selectMemberById" parameterType="String" resultMap="memberResult">
        SELECT  m.USER_NO,
        m.USER_ID,
        m.USER_NAME,
        m.EMAIL,
        m.PHONE,
        m.ADDRESS,
        m.BIRTHDAY,
        m.IMAGE_CHANGEPATH,
        m.IMAGE_ORIGINPATH,
        p.POSITION_NAME,
        b.BUSINESS_NAME
        FROM MEMBER m
        LEFT JOIN POSITION p ON m.POSITION_NO = p.POSITION_NO
        LEFT JOIN BUSINESS b ON m.BUSINESS_NO = b.BUSINESS_NO
        WHERE m.USER_ID = #{userId}
    </select>
    <update id="updateMember" parameterType="Member">
        UPDATE MEMBER
        SET USER_NAME = #{userName},
            EMAIL = #{email},
            PHONE = #{phone},
            ADDRESS = #{address},
            BIRTHDAY = #{birthday},
            IMAGE_CHANGEPATH = #{imageChangePath},
            IMAGE_CHANGEORIGIN = #{imageChangeOrigin},
            POSITION_NAME = #{position},
            BUSINESS_NAME = #{business},
            MODIFY_DATE = NOW()
        WHERE USER_ID = #{userId}
    </update>
</mapper>