<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.MemberMapper">

    <insert id="insertMember" parameterType="com.kh.yeast.domain.vo.Member">
        INSERT INTO MEMBER (
            USER_NO,
            BUSINESS_NO,
            MANAGER_NAME,
            USER_NAME,
            USER_ID,
            USER_PWD,
            EMAIL,
            PHONE,
            GENDER,
            ADDRESS,
            enroll_date,
            image_change_path,
            image_origin_path,
            BIRTHDAY
        ) VALUES (
                  #{businessName},
                  #{positionName},
                  #{managerName},
                  #{userName},
                  #{userId},
                  #{userPwd},
                  #{email},
                  #{phone},
                  #{gender},
                  #{address},
                  #{enrollDate},
                  #{imageChangePath},
                  #{imageOriginPath},
                  #{birthday}
                 )
    </insert>

    <select id="existsByUserId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE user_id = #{userId}
    </select>

</mapper>