<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.branch.FinanceBMapper">
    <resultMap id="breadResult" type="Bread">
        <result column="BREAD_NO" property="breadNo"/>
        <result column="BREAD_NAME" property="breadName"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="PRICE" property="price"/>
        <result column="BREAD_CONTENT" property="breadContent"/>
        <result column="CALORIES" property="calories"/>
        <result column="ALLERGY" property="allergy"/>
        <result column="IMAGE_ORIGIN" property="imageOrigin"/>
        <result column="IMAGE_CHANGE" property="imageChange"/>
    </resultMap>
    <resultMap id="inventoryResult" type="BreadInventory">
        <result column="BREAD_NO" property="breadNo"/>
        <result column="BREAD_NAME" property="breadName"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="PRICE" property="price"/>
        <result column="INVEN_COUNT" property="invenCount"/>
        <result column="BUSINESS_NO" property="businessNo"/>
    </resultMap>
    <resultMap id="sellResult" type="Sell">
        <result column="SELL_NO" property="sellNo"/>
        <result column="CREATE_DATE" property="createDate"/>
    </resultMap>
    <resultMap id="businessResult" type="Business">
        <result column="UPDATE_AT" property="updateAt"/>
    </resultMap>
    <select id="inventoryList" resultMap="inventoryResult">
        SELECT  BREAD_NO,
                BREAD_NAME,
                CATEGORY_NAME,
                PRICE,
                INVEN_COUNT,
                BUSINESS_NO
        FROM INVENTORY
        INNER JOIN (SELECT BREAD_NO,
                        BREAD_NAME,
                        CATEGORY_NAME,
                        PRICE
                    FROM BREAD
                    LEFT JOIN BREAD_CATEGORY USING (CATEGORY_NO)
                    ) USING (BREAD_NO)
        LEFT JOIN BUSINESS USING (BUSINESS_NO)
        WHERE BUSINESS_NO = #{businessNo}
    </select>

    <select id="selectTodaySell" resultMap="sellResult">
        SELECT SELL_NO,
                CREATE_DATE
        FROM SELL
        WHERE BUSINESS_NO = #{businessNo}
                AND CREATE_DATE
                BETWEEN TRUNC(SYSDATE)
                AND TRUNC(SYSDATE)
                + INTERVAL '1' DAY
                - INTERVAL '1' SECOND
    </select>

    <insert id="insertSell">
        INSERT INTO SELL (SELL_MONEY, BREAD_LIST, QUANTITY_LIST, BUSINESS_NO, TOTAL_LIST, CATEGORY_LIST)
        VALUES (#{sellMoney}, #{breadList}, #{quantityList}, #{businessNo}, #{totalList}, #{categoryList})
    </insert>

    <select id="selectBusinessUpdate" resultMap="businessResult">
        SELECT UPDATE_AT
        FROM BUSINESS
        WHERE BUSINESS_NO = #{businessNo}
    </select>

    <update id="updateMoney">
        UPDATE BUSINESS
        SET MONEY = MONEY + #{money},
        UPDATE_AT = SYSTIMESTAMP
        WHERE BUSINESS_NO = #{businessNo}
        AND UPDATE_AT = #{updateAt}
    </update>
</mapper>