<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.branch.MyPagePopUpBMapper">
    <update id="updateMember" parameterType="com.kh.yeast.domain.entity.Member">
        UPDATE MEMBER
        SET
            EMAIL = #{email},
            NAME = #{name},
            PASSWORD = #{password},
            ADDRESS = #{address},
            PHONE = #{phone},
            BIRTHDAY = #{birthdate},
            POSITION_NO = #{position},
            BUSINESS_NO = #{business},
            GENDER = #{gender}
        WHERE USER_ID = #{userId}
    </update>
</mapper>
