<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.branch.PaySlipToggleBMapper">
    <select id="getBranchMoneyByUserNo" resultType="Long" parameterType="Long">
        SELECT B.MONEY
        FROM BUSINESS B
                 JOIN MEMBER m ON B.BUSINESS_NO = m.BUSINESS_NO
        WHERE m.USER_NO = #{userNo}
    </select>
    <update id="updateBranchMoney">
        UPDATE BUSINESS
        SET MONEY = MONEY - #{salary}
        WHERE BUSINESS_NO = (
            SELECT BUSINESS_NO FROM MEMBER WHERE USER_NO = #{userNo}
        )
    </update>
    <select id="selectSalaryByUserNo" parameterType="Long" resultType="Long">
        SELECT SALARY
        FROM MEMBER
        WHERE USER_NO = #{userNo}
    </select>

    <select id="selectMoneyByUserNo" parameterType="Long" resultType="Long">
        SELECT B.MONEY
        FROM MEMBER E
        JOIN BUSINESS B ON E.BUSINESS_NO = B.BUSINESS_NO
        WHERE E.USER_NO = #{userNo}
    </select>
</mapper>
