<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.branch.STableBMapper">
    <resultMap id="employeeResult" type="com.kh.yeast.domain.entity.Employee">
        <result column="USER_NO" property="userNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_PWD" property="password"/>
        <result column="USER_NAME" property="userName"/>
        <result column="BUSINESS_NAME" property="businessName"/>
        <result column="BUSINESS_NO" property="businessNo"/>
        <result column="POSITION_NO" property="positionNo"/>
        <result column="POSITION_NAME" property="positionName"/>
        <result column="MANAGER_NAME" property="managerName"/>
        <result column="SALARY" property="salary"/>
        <result column="BONUS" property="bonus"/>
        <result column="PHONE" property="phone"/>
        <result column="GENDER" property="gender"/>
        <result column="ADDRESS" property="address"/>
        <result column="CREATE_DATE" property="enrollDate"/>
        <result column="IMAGE_CHANGE" property="imageChangePath"/>
        <result column="IMAGE_ORIGIN" property="imageOriginPath"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="status" property="status"/>
        <result column="HEAD_NAME" property="headName"/>
        <result column="UPDATE_AT" property="updateAt"/>
    </resultMap>
    <select id="findByUserNo" parameterType="long" resultType="com.kh.yeast.domain.entity.Employee">
        SELECT *
        FROM MEMBER
        WHERE USER_NO = #{userNo}
    </select>
    <select id="findByUserName" parameterType="String" resultType="com.kh.yeast.domain.entity.Employee">
        SELECT *
        FROM employees
        WHERE user_name = #{userName}
    </select>
    <select id="getAllEmployees" resultMap="employeeResult">
        SELECT * FROM MEMBER;
    </select>
    <select id="findEmployeesByName" resultMap="employeeResult">
        SELECT
        m.USER_NO AS USER_NO,
        m.USER_ID AS USER_ID,
        m.USER_NAME AS USER_NAME,
        m.EMAIL,
        m.PHONE,
        m.GENDER,
        m.POSITION_NO AS POSITION_NO,
        p.POSITION_NAME AS POSITION_NAME,
        m.BUSINESS_NO AS BUSINESS_NO,
        m.SALARY,
        m.CREATE_DATE AS CREATE_DATE,
        m.STATUS AS status,
        m.UPDATE_AT AS UPDATE_AT,
        COALESCE(h.headName, '없음') AS HEAD_NAME
        FROM MEMBER m
        LEFT JOIN POSITION p ON m.POSITION_NO = p.POSITION_NO
        LEFT JOIN (
        SELECT mm.BUSINESS_NO, mm.USER_NAME AS headName
        FROM MEMBER mm
        WHERE mm.POSITION_NO = 14
        ) h ON m.BUSINESS_NO = h.BUSINESS_NO
        WHERE m.USER_NAME = #{userName}
    </select>
</mapper>
