.div-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  background-color: #fffcec;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.div-wrapper .frame {
  display: flex;
  flex-direction: column;
  width: 1309px;
  align-items: center;
  gap: 68px;
  position: relative;
  top: 74px;
  left: 130px;
}

.div-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 63px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .filter {
  position: relative;
  width: 497px;
  height: 71px;
}

.div-wrapper .overlap-group {
  position: relative;
  height: 71px;
}

.div-wrapper .bg {
  position: absolute;
  width: 497px;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 0.6px solid;
  border-color: #d4d4d4;
}

.div-wrapper .reset-filter {
  position: absolute;
  width: 192px;
  height: 70px;
  top: 1px;
  left: 305px;
}

.div-wrapper .frame-wrapper {
  height: 70px;
}

.div-wrapper .div {
  display: inline-flex;
  align-items: flex-end;
  gap: 9px;
  position: relative;
  top: 25px;
  left: 46px;
}

.div-wrapper .under-arrow {
  position: relative;
  width: 18px;
  height: 18px;
}

.div-wrapper .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ea0234;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .enroll-filter {
  position: absolute;
  width: 112px;
  height: 70px;
  top: 0;
  left: 196px;
}

.div-wrapper .line {
  position: absolute;
  width: 1px;
  height: 70px;
  top: 0;
  left: 109px;
}

.div-wrapper .img {
  width: 25px;
  top: 24px;
  left: 66px;
  position: absolute;
  height: 24px;
}

.div-wrapper .order-status {
  width: 54px;
  top: 26px;
  position: absolute;
  left: 0;
  font-family: "Nunito Sans-Bold", Helvetica;
  font-weight: 700;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .department-filter {
  position: absolute;
  width: 84px;
  height: 70px;
  top: 1px;
  left: 94px;
}

.div-wrapper .line-2 {
  left: 82px;
  position: absolute;
  width: 1px;
  height: 70px;
  top: 0;
}

.div-wrapper .ic-keyboard-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 23px;
  left: 52px;
}

.div-wrapper .order-type {
  width: 47px;
  top: 25px;
  position: absolute;
  left: 0;
  font-family: "Nunito Sans-Bold", Helvetica;
  font-weight: 700;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .position-filter {
  position: absolute;
  width: 73px;
  height: 70px;
  top: 1px;
  left: 11px;
}

.div-wrapper .under-arrow-2 {
  width: 23px;
  top: 23px;
  left: 39px;
  position: absolute;
  height: 24px;
}

.div-wrapper .line-3 {
  left: 70px;
  position: absolute;
  width: 1px;
  height: 70px;
  top: 0;
}

.div-wrapper .filter-by {
  position: absolute;
  width: 31px;
  top: 26px;
  left: 0;
  font-family: "Nunito Sans-Bold", Helvetica;
  font-weight: 700;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid;
  border-color: var(--linelightgray);
}

.div-wrapper .head {
  display: inline-flex;
  align-items: flex-start;
  gap: 105px;
  padding: 20px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--tableheadsecondary);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--linelightgray);
}

.div-wrapper .email {
  position: relative;
  width: 145px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .no {
  position: relative;
  align-self: stretch;
  width: 42px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .name {
  position: relative;
  width: 50px;
  height: 22px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .id {
  position: relative;
  align-self: stretch;
  width: 48px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .phone {
  position: relative;
  width: 108.15px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  width: 50px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .enroll-date {
  position: relative;
  align-self: stretch;
  width: 59px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #202224;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .row {
  display: flex;
  width: 1309px;
  align-items: center;
  justify-content: center;
  gap: 108px;
  padding: 20px 10px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: var(--linelightgray);
}

.div-wrapper .input {
  position: relative;
  align-self: stretch;
  width: 145px;
  margin-top: -1.00px;
  margin-left: -2.58px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.div-wrapper .no-2 {
  position: relative;
  align-self: stretch;
  width: 42px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .name-2 {
  position: relative;
  align-self: stretch;
  width: 50px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .id-2 {
  width: 65px;
  position: relative;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .phone-2 {
  position: relative;
  align-self: stretch;
  width: 108.15px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .gender {
  position: relative;
  align-self: stretch;
  width: 30px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .position {
  position: relative;
  width: 39px;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .enroll-date-2 {
  position: relative;
  align-self: stretch;
  width: 59px;
  margin-top: -1.00px;
  margin-right: -2.57px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-3 {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  margin-top: -1.00px;
  opacity: 0.9;
  font-family: "Nunito Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #202224;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .page-bar {
  position: relative;
  width: 656px;
  height: 37px;
}

.div-wrapper .next-page {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 620px;
  background-color: var(--lightbackgroundprimary);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--lightgrayscale-400);
  box-shadow: var(--light-drop-shadow-1);
}

.div-wrapper .icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -4.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
}

.div-wrapper .pre-page {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--lightbackgroundprimary);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--lightgrayscale-400);
  box-shadow: var(--light-drop-shadow-1);
}

.div-wrapper .page {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 60px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -10.00px;
  margin-bottom: -8.00px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: #000000;
  font-size: var(--head-kakao-24px-font-size);
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.div-wrapper .page-2 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 116px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .select-page {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 172px;
  background-color: var(--variable-collection-font-brown);
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .text-wrapper-5 {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -10.00px;
  margin-bottom: -8.00px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  font-size: var(--head-kakao-24px-font-size);
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.div-wrapper .page-3 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 228px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-4 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 284px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-5 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 340px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-6 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 396px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-7 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 452px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-8 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 508px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .page-9 {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 564px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #9e9e9e;
}

.div-wrapper .text-wrapper-6 {
  margin-left: -6.00px;
  margin-right: -6.00px;
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -10.00px;
  margin-bottom: -8.00px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  font-size: var(--head-kakao-24px-font-size);
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}
