:root {
    --backgroundsecondary: rgba(255, 252, 236, 1);
    --linedarkgray: rgba(136, 136, 136, 1);
    --bordergray: rgba(191, 191, 191, 1);
    --head-kakao-32px-font-family: "Kakao OTF", Helvetica;
    --head-kakao-32px-font-weight: 700;
    --head-kakao-32px-font-size: 32px;
    --head-kakao-32px-letter-spacing: 0px;
    --head-kakao-32px-line-height: 139.9999976158142%;
    --head-kakao-32px-font-style: normal;
    --head-kakao-20px-font-family: "Kakao OTF", Helvetica;
    --head-kakao-20px-font-weight: 700;
    --head-kakao-20px-font-size: 20px;
    --head-kakao-20px-letter-spacing: 0px;
    --head-kakao-20px-line-height: 139.9999976158142%;
    --head-kakao-20px-font-style: normal;
    --variable-collection-border-grayup: rgba(173, 173, 173, 1);
    --variable-collection-button-white: rgba(255, 255, 255, 1);
}
