<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.yeast.mappers.SupplyMapper">

    <resultMap id="supplyResult" type="Supply">
        <result column="SUPPLY_NO" property="supplyNo"/>
        <result column="BREAD_NO" property="breadNo"/>
        <result column="BRANCH_NAME" property="branchName"/>
        <result column="BRANCH_NO" property="branchNo"/>
        <result column="COMPANY_NO" property="companyNo"/>
        <result column="QUANTITY" property="quantity"/>
        <result column="STATUS" property="status"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_AT" property="updateAt"/>
        <result column="SEPARATE" property="separate"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="BREAD_NAME" property="breadName"/>
        <result column="PRICE" property="price"/>
        <result column="INVEN_COUNT" property="invenCount"/>
        <result column="MANAGER" property="manager"/>
        <result column="BUSINESS_MONEY" property="businessMoney"/>
    </resultMap>

    <select id="selectOrderCount" resultType="int">
        SELECT COUNT(*)
        FROM SUPPLY
        WHERE BRANCH_NO = #{businessNo}
    </select>

    <select id="selectOrderList" resultMap="supplyResult">
        SELECT
        S.SUPPLY_NO,
        MAX(S.STATUS) AS STATUS,
        MAX(S.ORDER_DATE) AS ORDER_DATE,
        CAST(MAX(S.CREATE_DATE) AS DATE) AS CREATE_DATE,
        SUM(BR.PRICE * SD.QUANTITY) AS PRICE,
        MAX(BU.BUSINESS_NAME) AS CLIENT
        FROM
        SUPPLY S
        JOIN SUPPLY_DETAIL SD ON S.SUPPLY_NO = SD.SUPPLY_NO
        JOIN BREAD BR ON SD.BREAD_NO = BR.BREAD_NO
        JOIN BUSINESS BU ON S.BRANCH_NO = BU.BUSINESS_NO
        WHERE
        S.BRANCH_NO = #{businessNo}
        GROUP BY
        S.SUPPLY_NO
        ORDER BY
        S.SUPPLY_NO DESC

    </select>

    <select id="selectValue" resultMap="supplyResult">
        SELECT
        B.BREAD_NO,
        BC.CATEGORY_NAME,
        B.BREAD_NAME,
        B.PRICE,
        I.INVEN_COUNT
        FROM BREAD B
        LEFT JOIN BREAD_CATEGORY BC ON B.CATEGORY_NO = BC.CATEGORY_NO
        LEFT JOIN INVENTORY I ON B.BREAD_NO = I.BREAD_NO
        WHERE B.STATUS = 1
        AND I.CREATE_TIME = (
        SELECT MAX(I2.CREATE_TIME)
        FROM INVENTORY I2
        WHERE I2.BREAD_NO = B.BREAD_NO
        )
        ORDER BY B.BREAD_NO ASC

    </select>
    <select id="businessMoney" resultType="int">
        SELECT
            MONEY AS BUSINESS_MONEY
        FROM BUSINESS
        WHERE
            BUSINESS_NO = #{businessNo} AND
             STATUS = 1
    </select>

    <insert id="insert">
        INSERT
        INTO SUPPLY(
            BRANCH_NO,
            ORDER_DATE
        )
        VALUES(
        (SELECT BUSINESS_NO FROM BUSINESS WHERE BUSINESS_NAME = #{branchName}),
        #{orderDate}
        )
    </insert>
    <insert id="insertList">
        INSERT
        INTO SUPPLY_DETAIL(
        BREAD_NO,
        QUANTITY
        )
        VALUES(
        (SELECT BREAD_NO FROM BREAD WHERE BREAD_NAME = #{breadName} AND STATUS = 1),
        #{quantityList}
        )

    </insert>

    <select id="selectUpdate" resultMap="supplyResult">
        SELECT
        S.BRANCH_NO,
        S.COMPANY_NO,
        S.STATUS,
        S.ORDER_DATE,
        S.CREATE_DATE,
        BC.CATEGORY_NAME,
        B.BREAD_NAME,
        SD.QUANTITY,
        (B.PRICE * SD.QUANTITY) AS PRICE
        FROM SUPPLY S
        LEFT JOIN SUPPLY_DETAIL SD ON S.SUPPLY_NO = SD.SUPPLY_NO
        LEFT JOIN BREAD B ON SD.BREAD_NO = B.BREAD_NO
        LEFT JOIN BREAD_CATEGORY BC ON B.CATEGORY_NO = BC.CATEGORY_NO
        WHERE S.SUPPLY_NO = #{supplyNo}
    </select>

    <select id="selectUpdateInfo" resultMap="supplyResult">
        SELECT
        BN.BUSINESS_NAME AS BRANCH_NAME,
        S.SUPPLY_NO,
        S.COMPANY_NO,
        S.STATUS,
        S.ORDER_DATE,
        S.CREATE_DATE
        FROM SUPPLY S
        JOIN BUSINESS BN ON S.BRANCH_NO = BN.BUSINESS_NO
        WHERE S.SUPPLY_NO = #{supplyNo}
    </select>

    <insert id="updateList">
        INSERT
        INTO SUPPLY_DETAIL(
        SUPPLY_NO,
        BREAD_NO,
        QUANTITY
        )
        VALUES(
        #{supplyNo},
        (SELECT BREAD_NO FROM BREAD WHERE BREAD_NAME = #{breadName} AND STATUS = 1),
        #{quantityList}
        )

    </insert>

    <update id="updateBusinessMoney">
        UPDATE BUSINESS
        SET MONEY = MONEY - #{totalSumPrice}
        WHERE BUSINESS_NO = #{businessNo}
        AND MONEY >= #{totalSumPrice}
    </update>

<!--    여기부터 출하     -->
    <select id="selectDispatchCount" resultType="int">
        SELECT COUNT(*)
        FROM SUPPLY
        WHERE STATUS IN ('R' , 'Y')
    </select>

    <select id="selectDispatchList" resultMap="supplyResult">
        SELECT
        S.SUPPLY_NO,
        MAX(S.STATUS) AS STATUS,
        MAX(S.ORDER_DATE) AS ORDER_DATE,
        CAST(MAX(S.CREATE_DATE) AS DATE) AS CREATE_DATE,
        SUM(BR.PRICE * SD.QUANTITY) AS PRICE,
        MAX(BU.BUSINESS_NAME) AS CLIENT
        FROM
        SUPPLY S
        JOIN SUPPLY_DETAIL SD ON S.SUPPLY_NO = SD.SUPPLY_NO
        JOIN BREAD BR ON SD.BREAD_NO = BR.BREAD_NO
        JOIN BUSINESS BU ON S.BRANCH_NO = BU.BUSINESS_NO
        WHERE S.STATUS IN ('R' , 'Y')
        GROUP BY
        S.SUPPLY_NO
        ORDER BY
        S.SUPPLY_NO DESC
    </select>

    <select id="selectSupply" resultMap="supplyResult">
        SELECT
                S.BRANCH_NO,
                S.COMPANY_NO,
                S.STATUS,
                S.ORDER_DATE,
                S.CREATE_DATE,
                BC.CATEGORY_NAME,
                B.BREAD_NO,
                B.BREAD_NAME,
                SD.QUANTITY,
                (B.PRICE * SD.QUANTITY) AS PRICE
        FROM SUPPLY S
        LEFT JOIN SUPPLY_DETAIL SD ON S.SUPPLY_NO = SD.SUPPLY_NO
        LEFT JOIN BREAD B ON SD.BREAD_NO = B.BREAD_NO
        LEFT JOIN BREAD_CATEGORY BC ON B.CATEGORY_NO = BC.CATEGORY_NO
        WHERE S.SUPPLY_NO = #{supplyNo}
    </select>

    <select id="selectSupplyInfo" resultMap="supplyResult">
        SELECT
                BN.BUSINESS_NAME AS BRANCH_NAME,
                S.SUPPLY_NO,
                S.BRANCH_NO,
                S.STATUS,
                S.ORDER_DATE,
                S.CREATE_DATE
        FROM SUPPLY S
        JOIN BUSINESS BN ON S.BRANCH_NO = BN.BUSINESS_NO
        WHERE S.SUPPLY_NO = #{supplyNo}
    </select>

    <update id="approval">
        UPDATE SUPPLY
        SET STATUS = 'Y'
        WHERE SUPPLY_NO = #{supplyNo}
    </update>

    <update id="updateInventory">
        UPDATE INVENTORY
        SET INVEN_COUNT = #{invenCount}
        WHERE BREAD_NO = #{breadNo}
                AND BUSINESS_NO = #{businessNo}
    </update>





    <!--    22시가 되.    -->
    <update id="night">
        UPDATE SUPPLY
        SET STATUS = 'R'
        WHERE STATUS = 'N'
    </update>
    <!--    22시가 되.    -->


</mapper>