.box {
  height: 2393px;
  width: 100%;
  overflow-x: auto;
}

.box .group {
  min-width: 1200px;
  width: 100%;
  background: url("../../../../resources/uploadfile/image/companyIntroduce/frontpic.png") no-repeat;
  background-size: cover;
  height: 2393px;
  top: 0;
}
