<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/global/orderManagementDone.css" />
    <link rel="stylesheet" href="../../css/style/orderManagementDone.css" />
    <link rel="stylesheet" href="../../css/styleguide/orderManagementDone.css" />
  </head>
  <body>
    <div class="order-managment">
      <div class="container">
        <div class="content">
          <header class="header">
            <div class="div">
              <div class="text-wrapper">2025-03-12</div>
              <img class="calendar" src="../../../../resources/uploadfile/image/orderManagement/calendar.png" />
            </div>
            <div class="wave-sym"><div class="to">~</div></div>
            <div class="div">
              <div class="text-wrapper">2025-03-12</div>
              <img class="calendar" src="../../../../resources/uploadfile/image/orderManagement/calendar.png" />
            </div>
            <div class="div"><div class="text-wrapper">거래처명</div></div>
            <div class="div"><div class="text-wrapper">발주자</div></div>
            <div class="check">
              <img class="reading-icon" src="../../../../resources/uploadfile/image/orderManagement/search-icon.png" />
              <div class="check-2">조회</div>
            </div>
          </header>
          <div class="navbar">
            <div class="check-box"></div>
            <div class="order-no">발주번호</div>
            <div class="status">상태</div>
            <div class="text-wrapper-2">거래처</div>
            <div class="text-wrapper-3">발주일자</div>
            <div class="text-wrapper-3">납입일자</div>
            <div class="text-wrapper-2">담당자</div>
            <div class="text-wrapper-3">발주금액</div>
            <div class="text-wrapper-2">발주자</div>
            <div class="correct">수정</div>
          </div>
          <div class="body">
            <div class="first-bar">
              <div class="elements">
                <div class="check-box-2"></div>
                <div class="order-no-2">1231265683</div>
                <div class="order-register"><div class="complete">처리완료</div></div>
                <div class="company">이스트</div>
                <div class="order-date">2025-03-19</div>
                <div class="payment-date"><div class="payment-date-2">2025-03-19</div></div>
                <div class="manager-name">호원준</div>
                <div class="amount">500,000,000</div>
                <div class="order-place">지점A</div>
                <img class="correct-icon" src="../../../../resources/uploadfile/image/orderManagement/correct-icon.png" />
              </div>
            </div>
            <div class="elements-wrapper">
              <div class="elements">
                <div class="check-box-2"></div>
                <div class="order-no-2">1231265683</div>
                <div class="order-register"><div class="complete">처리완료</div></div>
                <div class="company">이스트</div>
                <div class="order-date">2025-03-19</div>
                <div class="payment-date"><div class="payment-date-2">2025-03-19</div></div>
                <div class="manager-name">호원준</div>
                <div class="amount">500,000,000</div>
                <div class="order-place">지점A</div>
                <img class="correct-icon" src="../../../../resources/uploadfile/image/orderManagement/correct-icon.png" />
              </div>
            </div>
            <div class="elements-wrapper">
              <div class="elements">
                <div class="check-box-2"></div>
                <div class="order-no-2">1231265683</div>
                <div class="order-register"><div class="complete">처리완료</div></div>
                <div class="company">이스트</div>
                <div class="order-date">2025-03-19</div>
                <div class="payment-date"><div class="payment-date-2">2025-03-19</div></div>
                <div class="manager-name">호원준</div>
                <div class="amount">500,000,000</div>
                <div class="order-place">지점A</div>
                <img class="correct-icon" src="../../../../resources/uploadfile/image/orderManagement/correct-icon.png" />
              </div>
            </div>
            <div class="elements-wrapper">
              <div class="elements">
                <div class="check-box-2"></div>
                <div class="order-no-2">1231265683</div>
                <div class="order-register"><div class="complete">처리완료</div></div>
                <div class="company">이스트</div>
                <div class="order-date">2025-03-19</div>
                <div class="payment-date"><div class="payment-date-2">2025-03-19</div></div>
                <div class="manager-name">호원준</div>
                <div class="amount">500,000,000</div>
                <div class="order-place">지점A</div>
                <img class="correct-icon" src="../../../../resources/uploadfile/image/orderManagement/correct-icon.png" />
              </div>
            </div>
            <div class="fifth-bar">
              <div class="elements">
                <div class="check-box-2"></div>
                <div class="order-no-2">1231265683</div>
                <div class="order-register"><div class="complete">처리완료</div></div>
                <div class="company">이스트</div>
                <div class="order-date">2025-03-19</div>
                <div class="payment-date"><div class="payment-date-2">2025-03-19</div></div>
                <div class="manager-name">호원준</div>
                <div class="amount">500,000,000</div>
                <div class="order-place">지점A</div>
                <img class="correct-icon" src="../../../../resources/uploadfile/image/orderManagement/correct-icon.png" />
              </div>
            </div>
          </div>
          <p class="page-no">
            <span class="span">1 </span>
            <span class="text-wrapper-4"> to </span>
            <span class="span">4</span>
            <span class="text-wrapper-4"> of </span>
            <span class="span">4</span>
          </p>
          <p class="total-amount">총 발주 금액 1,000,000,000 원</p>
        </div>
        <div class="indicator">
          <div class="bg"></div>
          <img class="ic-keyboard-arrow" src="../../../../resources/uploadfile/image/orderManagement/leftside-arrow.png" />
          <img class="line" src="../../../../resources/uploadfile/image/orderManagement/Line.png" />
          <img class="ic-keyboard-arrow" src="../../../../resources/uploadfile/image/orderManagement/rightside-arrow.png" />
        </div>
      </div>
    </div>
  </body>
</html>
