<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/global/orderBill.css" />
    <link rel="stylesheet" href="../../css/style/orderBill.css" />
    <link rel="stylesheet" href="../../css/styleguide/orderBIll.css" />
  </head>
  <body>
    <div class="toggle">
      <div class="question"><div class="text-wrapper">정말로 송금하시겠습니까?</div></div>
      <div class="output">
        <div class="outline">
          <div class="text"><div class="div">현 자금</div></div>
          <div class="money">
            <div class="text-wrapper-2">80,667,020</div>
            <div class="won">원</div>
          </div>
        </div>
        <div class="outline">
          <div class="div-wrapper"><div class="div">결제 금액</div></div>
          <div class="money-2">
            <div class="text-wrapper-2">350,000</div>
            <div class="won">원</div>
          </div>
        </div>
        <div class="outline">
          <div class="div-wrapper"><div class="div">남은 잔액</div></div>
          <div class="money-3">
            <div class="text-wrapper-2">80,317,020</div>
            <div class="won">원</div>
          </div>
        </div>
      </div>
      <div class="send">
        <div class="text-2"><div class="send-2">보내기</div></div>
      </div>
      <div class="cancel">
        <div class="text-2"><div class="cancel-2">취소</div></div>
      </div>
    </div>
  </body>
</html>
