body{
  background: #FFFCEC;
}
.store-specific {
  position: relative;
  width: 1000px;
  height: auto;
  min-height: 100vh;
  left:300px;
  top:147px;
}

.store-specific .form {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 900px;
  left: 15%;
}

.store-specific .out-frame {
  position: relative;
  width: 786px;
  height: 912px;
  background-color: #f3f3f3;
  border-radius: 14px;
  border: 1px solid;
  border-color: #000000;
}

.store-specific .frame {
  height: 804px;
  top: 54px;
  left: 20px;
  position: relative;
  width: 747px;
}

.store-specific .frame-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  width: 747px;
}

.store-specific .worker-payment {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--head-kakao-32px-font-family);
  font-weight: var(--head-kakao-32px-font-weight);
  color: transparent;
  font-size: var(--head-kakao-32px-font-size);
  letter-spacing: var(--head-kakao-32px-letter-spacing);
  line-height: var(--head-kakao-32px-line-height);
  font-style: var(--head-kakao-32px-font-style);
}

.store-specific .text-wrapper {
  color: #ff9538;
  font-family: var(--head-kakao-32px-font-family);
  font-style: var(--head-kakao-32px-font-style);
  font-weight: var(--head-kakao-32px-font-weight);
  letter-spacing: var(--head-kakao-32px-letter-spacing);
  line-height: var(--head-kakao-32px-line-height);
  font-size: var(--head-kakao-32px-font-size);
}

.store-specific .span {
  color: #000000;
  font-family: var(--head-kakao-32px-font-family);
  font-style: var(--head-kakao-32px-font-style);
  font-weight: var(--head-kakao-32px-font-weight);
  letter-spacing: var(--head-kakao-32px-letter-spacing);
  line-height: var(--head-kakao-32px-line-height);
  font-size: var(--head-kakao-32px-font-size);
}

.store-specific .text-wrapper-2 {
  color: #e5b737;
  font-family: var(--head-kakao-32px-font-family);
  font-style: var(--head-kakao-32px-font-style);
  font-weight: var(--head-kakao-32px-font-weight);
  letter-spacing: var(--head-kakao-32px-letter-spacing);
  line-height: var(--head-kakao-32px-line-height);
  font-size: var(--head-kakao-32px-font-size);
}

.store-specific .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.store-specific .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.store-specific .div {
  position: relative;
  width: 343px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--fontlightgray);
}

.store-specific .text {
  position: absolute;
  width: 97px;
  height: 34px;
  top: 19px;
  left: 0;
}

.store-specific .text-wrapper-3 {
  position: absolute;
  height: 34px;
  top: -1px;
  left: 28px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.store-specific .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  position: absolute;
  top: 19px;
  right: 20px;
}

.store-specific .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  gap: 1px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
  border: none;
}

.store-specific .input-2 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  position: absolute;
  top: 19px;
  right: 30px;
}

.store-specific .business {
  position: absolute;
  height: 34px;
  top: -1px;
  left: 18px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.store-specific .input-3 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  position: absolute;
  top: 19px;
  right:20px
}

.store-specific .div-2 {
  position: relative;
  display: flex;
  align-self: stretch;
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--fontlightgray);
}

.store-specific .payment-wrapper {
  position: absolute;
  width: 97px;
  height: 34px;
  top: 19px;
  left: 7px;
}

.store-specific .text-wrapper-5 {
  position: absolute;
  height: 34px;
  top: -1px;
  left: 0;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.store-specific .input-4 {
  display: flex;
  width: 139px;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 0px 10px;
  position: absolute;
  top: 19px;
  left: 608px;
}

.store-specific .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -7.00px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.store-specific .won {
  position: relative;
  width: 9px;
  height: 22px;
  font-family: "Kakao OTF-Regular", Helvetica;
  font-weight: 400;
  color: var(--fontdeepdarkgray);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.store-specific .line-2 {
  display: flex;
  flex-direction: column;
  width: 718px;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.store-specific .deduction {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--variable-collection-font-yellow2);
}

.store-specific .element {
  position: absolute;
  width: 376px;
  height: 40px;
  top: 9px;
  left: 342px;
  font-family: var(--body-kakao-14px-font-family);
  font-weight: var(--body-kakao-14px-font-weight);
  color: transparent;
  font-size: var(--body-kakao-14px-font-size);
  text-align: right;
  letter-spacing: var(--body-kakao-14px-letter-spacing);
  line-height: var(--body-kakao-14px-line-height);
  font-style: var(--body-kakao-14px-font-style);
}

.store-specific .text-wrapper-7 {
  color: #ff435c;
  font-family: var(--body-kakao-14px-font-family);
  font-style: var(--body-kakao-14px-font-style);
  font-weight: var(--body-kakao-14px-font-weight);
  letter-spacing: var(--body-kakao-14px-letter-spacing);
  line-height: var(--body-kakao-14px-line-height);
  font-size: var(--body-kakao-14px-font-size);
}

.store-specific .text-wrapper-8 {
  color: #000000;
  font-family: var(--body-kakao-14px-font-family);
  font-style: var(--body-kakao-14px-font-style);
  font-weight: var(--body-kakao-14px-font-weight);
  letter-spacing: var(--body-kakao-14px-letter-spacing);
  line-height: var(--body-kakao-14px-line-height);
  font-size: var(--body-kakao-14px-font-size);
}

.store-specific .text-wrapper-9 {
  position: absolute;
  height: 34px;
  top: 12px;
  left: 0;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}

.store-specific .table {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.store-specific .table-in {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.store-specific .line-3 {
  display: flex;
  height: 31px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  border: 0px none;
}

.store-specific .text-2 {
  display: flex;
  width: 200px;
  height: 25px;
  align-items: center;
  gap: 5px;
  position: relative;
}

.store-specific .div-3 {
  display: inline-flex;
  height: 24px;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.store-specific .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -14.50px;
  margin-bottom: -12.50px;
  font-family: "Kakao OTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30.8px;
  white-space: nowrap;
}

.store-specific .info-circle-fill {
  position: relative;
  width: 15px;
  height: 15px;
}

.store-specific .input-in-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.store-specific .input-in {
  display: flex;
  width: 357px;
  height: 24px;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
}

.store-specific .money {
  height: 24px;
  padding: 10px 0px;
  display: flex;
  width: 64px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right:0px
}

.store-specific .text-wrapper-11 {
  width: fit-content;
  margin-top: -14.50px;
  margin-bottom: -12.50px;
  font-family: "Kakao OTF-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-font-yellow2);
  font-size: 14px;
  line-height: 30.8px;
  position: relative;
  letter-spacing: 0;
  white-space: nowrap;
}

.store-specific .text-wrapper-12 {
  width: 9px;
  height: 22px;
  margin-bottom: -8.00px;
  font-family: "Kakao OTF-Regular", Helvetica;
  font-weight: 400;
  color: var(--fontdeepdarkgray);
  font-size: 12px;
  position: relative;
  letter-spacing: 0;
  white-space: nowrap;
}

.store-specific .line-4 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-left: -1.00px;
  margin-right: -1.00px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-color: #000000;
}

.store-specific .input-in-2 {
  display: flex;
  width: 357px;
  height: 24px;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
}

.store-specific .money-2 {
  display: flex;
  width: 64px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right:0px;
}

.store-specific .text-wrapper-13 {
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Kakao OTF-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-font-yellow2);
  font-size: 14px;
  line-height: 30.8px;
  position: relative;
  letter-spacing: 0;
  white-space: nowrap;
}

.store-specific .text-wrapper-14 {
  width: 9px;
  height: 22px;
  font-family: "Kakao OTF-Regular", Helvetica;
  font-weight: 400;
  color: var(--fontdeepdarkgray);
  font-size: 12px;
  line-height: 21px;
  position: relative;
  letter-spacing: 0;
  white-space: nowrap;
}

.store-specific .line-5 {
  display: flex;
  height: 33px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-left: -1.00px;
  margin-right: -1.00px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: #000000;
}

.store-specific .img {
  position: relative;
  width: 15px;
  height: 15px;
  margin-top: -5.50px;
  margin-bottom: -5.50px;
}

.store-specific .line-6 {
  display: flex;
  height: 31px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.store-specific .input-in-3 {
  display: flex;
  width: 357px;
  height: 24px;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
}

.store-specific .text-3 {
  position: absolute;
  width: 97px;
  height: 34px;
  top: 19px;
  left: 14px;
}

.store-specific .input-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 10px;
  position: absolute;
  top: 19px;
  right:0px;
}

.store-specific .input-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 10px;
  position: absolute;
  top: 19px;
  right:0px;
}

.store-specific .click {
  display: flex;
  flex-direction: column;
  width: 343px;
  align-items: flex-start;
  gap: 42px;
  position: absolute;
  top: 700px;
  left: 1100px;
}

.store-specific .text-4 {
  position: relative;
  width: 97px;
  height: 34px;
  top: 19px;
  left: 123px;
}

.store-specific .text-wrapper-15 {
  position: absolute;
  height: 34px;
  top: -1px;
  left: 8px;
  font-family: var(--head-kakao-24px-font-family);
  font-weight: var(--head-kakao-24px-font-weight);
  color: var(--variable-collection-font-yellow2);
  font-size: var(--head-kakao-24px-font-size);
  text-align: center;
  letter-spacing: var(--head-kakao-24px-letter-spacing);
  line-height: var(--head-kakao-24px-line-height);
  white-space: nowrap;
  font-style: var(--head-kakao-24px-font-style);
}
